.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    color: var(--cyberpunk-primary-color);
    background-color: var(--cyberpunk-secondary-color-variant);
    padding: var(--main-padding);
}           

.navbar a:visited {
    color: var(--cyberpunk-primary-color); /* Ensure the color remains the same */
}